@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Recipe Keeper</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br/>
    <br/>
    <h2 class="display-6">Database Connections on Static Page</h2>
    <blockquote>
        Please choose from the options provided to perform actions such as creating, reading, updating, or deleting entries in the recipe list.
    </blockquote>


    <div>
        <button id="list" class="btn btn-primary btn-lg"><!--onclick="list()">-->&nbsp;&nbsp;&nbsp;List&nbsp;&nbsp;&nbsp;</button>
        <!--<a id="list" class="btn btn-primary btn-lg" href="#" role="button">&nbsp;&nbsp;&nbsp;List&nbsp;&nbsp;&nbsp;</a>-->
        
        <button id="get" class="btn btn-primary btn-lg"><!--onclick="get()">-->&nbsp;&nbsp;&nbsp;Get&nbsp;&nbsp;&nbsp;</button>
        <!--<a id="get" class="btn btn-primary btn-lg" href="#" role="button">&nbsp;&nbsp;&nbsp;Get&nbsp;&nbsp;&nbsp;</a>-->

        <button id="update" class="btn btn-primary btn-lg"><!--onclick="update()">-->Update</button>
        <!--<a id="update" class="btn btn-primary btn-lg" href="#" role="button">Update</a>-->

        <button id="create" class="btn btn-primary btn-lg" onclick="create()">Create</button>
        <!--<a id="create" class="btn btn-primary btn-lg" href="#" role="button">Create</a>-->

        <button id="delete" class="btn btn-primary btn-lg" style="background-color:darkred"><!--onclick="del()">-->Delete</button>
        <!--<a id="delete" class="btn btn-primary btn-lg" href="#" role="button" style="background-color:darkred">Delete</a>-->
    </div>


    <script>
        async function create() {

           
        
        }
    </script>
</div>
